<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Sistem Rekomendasi Artikel Ilmiah</title>
    <link rel="stylesheet" href="/static/about_us.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <section class="background">
        <div class="container">
            <h2>Tentang Kami - Sistem Rekomendasi Artikel Ilmiah</h2>
            <p>Selamat datang di halaman "Tentang Kami"! Kami adalah tim yang berdedikasi untuk 
                mengembangkan dan menyediakan sistem rekomendasi artikel ilmiah berdasarkan relevansi 
                topik skripsi menggunakan metode BM25.</p>
                
            <h4>Tujuan Kami</h4>
            <p>Kami bertujuan untuk membantu mahasiswa dalam mencari artikel ilmiah yang relevan dengan topik skripsi mereka dengan cepat dan akurat. Dengan menggunakan algoritma BM25, kami memastikan bahwa setiap rekomendasi artikel sesuai dengan fokus penelitian Anda.</p>
            <h4>Mengapa Kami?</h4>
            <li>
                Kemudahan Pencarian: Kami memahami pentingnya pemilihan topik skripsi yang tepat dan proses pencarian referensi yang efisien. Oleh karena itu, kami menyediakan sistem yang memudahkan Anda dalam mencari artikel ilmiah berkualitas tinggi.
            </li>
            <li>
                Peningkatan Kualitas Penelitian: Dengan akses mudah ke artikel ilmiah berkualitas tinggi, Anda dapat meningkatkan kualitas penelitian Anda. Temukan referensi yang relevan dan dapat dipercaya untuk mendukung argumen dan temuan Anda dalam skripsi Anda.
            </li>
            <li>
                Efisiensi Waktu: Hemat waktu Anda dengan menggunakan platform kami untuk mencari artikel ilmiah. Dibandingkan dengan metode pencarian tradisional yang memakan waktu, kami menyediakan solusi yang cepat dan efisien untuk menemukan sumber daya yang Anda butuhkan.
            </li>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Sistem Rekomendasi Artikel Ilmiah</p>
    </footer>
</body>
</html>
